@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600&family=Roboto:ital,wght@0,300;0,400;1,70&display=swap');

$header-height: 3rem;

$hero-height: calc(100vh - $header-height);

$hero-v-padding: 8vh;

$text-max-width: 50rem;

$neutral-color-0: #efefef;
$neutral-color-1: #c9c9c9;
$neutral-color-2: #a4a4a4;
$neutral-color-3: #7f7f7f;
$neutral-color-4: #595959;
$neutral-color-5: #343434;
$neutral-color-6: #0B0C0D;

$bg-color-1: $neutral-color-6;
$bg-color-2: #014983;
$bg-color-3: #1f1f1f;
$bg-color-4: #01345e;

$primary-color: $neutral-color-0;
$secondary-color: #028DF6;

$font-1: normal 300 1em 'Roboto', sans-serif;
$font-2: normal 500 1em 'Inconsolata', monospace;
$font-3: normal 600 1em 'Inconsolata', monospace;
$font-4: italic 700 1em 'Roboto', sans-serif;

