@use "variables" as v;

@use "elements";
@use "components";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  font: v.$font-1;
  line-height: 135%;
  color: v.$primary-color;
  background-color: v.$bg-color-1;
}
