@use "../variables" as v;
@use "../mixins" as m;

.container {
  width: 90%;
  margin: auto;
  padding: 3.5rem 0;

  @include m.f-col;
  gap: 1rem;

  &-heading {
    font: v.$font-4;
    font-size: 1.6rem;
  }

  &-text {
    max-width: v.$text-max-width;
    width: 100%;
    margin: 0 auto;

    @include m.f-col;
    gap: .5rem;

    text-align: justify;
    text-justify: distribute;
    line-height: 150%;

    &-center {
      text-align: center;
    }

  }

  @media screen and (min-width: 768px) {
    width: 80%;
    padding: 3.5rem 0;
    gap: 2rem;

    &-heading {
      text-align: center;
      font-size: 2rem;
    }

    &-text-center-md {
      text-align: center;
    }

    &-bar {
      @include m.separator-bar;
      width: min(30rem, 60%);
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 992px) {
    padding: 5.5rem 0;
    gap: 3rem;
  }
}