<footer id="page-footer">
  <div id="page-footer-text">
    <p id="page-footer-text-made-by">
      <small>
        <a target="_blank" href="https://github.com/amartinsmg">Made by amartinsmg</a>.
        <a target="_blank" href="https://github.com/amartinsmg/amartinsmg.github.io">Visit this project's
          repository</a>.
      </small>
    </p>
    <p>
      <small><a target="_blank" href="https://science.nasa.gov/asset/webb/circinus-galaxy-hubble-and-webb/">Circinus
          Galaxy picture by NASA, ESA, e A. Wilson (University of Maryland)</a>.</small>
    </p>
  </div>
</footer>