<div class="container-fluid" id="greeting">
  <section id="greeting-content">
    <div id="greeting-content-text">
      <h1 id="greeting-content-text-heading">
        <span id="greeting-content-text-heading-whoiam">Hi, I'm André Martins,</span
        ><i
          id="greeting-content-text-heading-text-cursor"
          class="blinker-effect"
        ></i>
      </h1>
      <p>
        a Computer Engineering student with a strong interest in
        systems development, algorithms, and computational mathematics.
      </p>
    </div>
    <img
      src="../programmer.png"
      alt="Programmer figure"
      id="greeting-content-fig"
    />
  </section>
</div>
