<header id="page-header">
  <div>
    <a href="#hero" title="Home">
      <img id="page-header-logo" src="../logo-light.png" alt="logo" />
    </a>
  </div>
  <nav id="page-header-navbar">
    <input id="page-header-navbar-toggle" type="checkbox" name="menu-toggle" />
    <label id="page-header-navbar-menu" for="page-header-navbar-toggle">
      <div id="page-header-navbar-menu-icon"></div>
    </label>
    <ul id="page-header-navbar-ul">
      <a href="#hero">
        <li>Home</li>
      </a>
      <a href="#about">
        <li>About</li>
      </a>
      <a href="#skills">
        <li>My skills</li>
      </a>
      <a href="#projects">
        <li>Projects</li>
      </a>
      <a href="#social">
        <li>Social</li>
      </a>
    </ul>
  </nav>
</header>