<header id="page-header">
  <!-- Brand / Logo -->
  <div id="page-header-brand">
    <button type="button" class="to-top" aria-label="Scroll to top">
      <img id="page-header-logo" src="../logo-light.svg" alt="André Martins Logo" />
    </button>
  </div>

  <!-- Main Navigation -->
  <nav id="page-header-navbar" aria-label="Main Navigation">
    <!-- Toggle CSS for Menu Mobile -->
    <input id="page-header-navbar-toggle" type="checkbox" name="menu-toggle" aria-label="Toggle navigation menu" />
    <label id="page-header-navbar-menu" for="page-header-navbar-toggle" aria-hidden="true">
      <div id="page-header-navbar-menu-icon"></div>
    </label>

    <!-- List of Links -->
    <ul id="page-header-navbar-ul">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#skills">Skills</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#social">Social</a>
      </li>
    </ul>
  </nav>
  </nav>
</header>