<div class="container-fluid" id="hero">
  <section id="hero-content">
    <div id="hero-content-text">
      <h1 id="hero-content-text-heading">
        <span id="hero-content-text-heading-whoiam">Hi, I'm André Martins.</span><i
          id="hero-content-text-heading-text-cursor" class="blinker-effect"></i>
      </h1>
      <p>
        Backend systems, performance, and software engineering.
      </p>
      <p>
        Computer Engineering student focused on building efficient and reliable software.
      </p>
    </div>
    <img src="../emblem-light.png" alt="emblem" id="hero-content-fig" />
  </section>
</div>