<section class="container" id="projects">
  <h2 class="container-heading" id="projects-heading">Projects</h2>
  <p class="container-text container-text-center-md" id="projects-text">These are some of my personal projects: </p>
  <div id="projects-grid">
    <div class="projects-div" id="project-grid-1">
      <img class="projects-div-img" src="../mathlib-api.png
      " id="project-grid-1-img" alt="print screen of MathLib API">
      <div class="projects-div-inner">
        <h3 class="projects-div-inner-heading">MathLib API</h3>
        <p>A lightweight HTTP API built with Java, exposing a native mathematical library written in C through JNA.
        </p>
        <span class="projects-div-inner-topics"><strong>Java · JNA · HTTP · JSON · Docker</strong></span>
      </div>
      <div class="projects-div-inner">
        <a class="btn projects-div-inner-btn" target="_blank" href="https://github.com/amartinsmg/MathlibAPI"
          role="button"><i class="fab fa-github"></i> Complete project</a>
      </div>
      <div class="projects-div-inner-bar"></div>
    </div>
    <div class="projects-div" id="project-grid-2">
      <img class="projects-div-img" src="../cnn-comparasion.png" id="project-grid-2-img"
        alt="print screen of CNN Architecture Comparison">
      <div class="projects-div-inner">
        <h3 class="projects-div-inner-heading">CNN Architecture Comparison</h3>
        <p>My Computer Engineering thesis comparing ResNet50, DenseNet121, and EfficientNetB0 for pneumonia
          classification using transfer learning and controlled experiments.
        </p>
        <span class="projects-div-inner-topics"><strong>TypeScript · OOP · Architecture · Symbolic Computation</strong>
          </sapn>
      </div>
      <div class="projects-div-inner">
        <a class="btn projects-div-inner-btn" target="_blank"
          href="https://github.com/amartinsmg/classification-of-medical-images-using-cnn" role="button"><i
            class="fab fa-github"></i> Complete project</a>
      </div>
      <div class="projects-div-inner-bar"></div>
    </div>
    <div class="projects-div" id="project-grid-3">
      <img class="projects-div-img" src="../qfcalculator.png" id="project-grid-3-img"
        alt="print screen of Qudratic Function Calculator">
      <div class="projects-div-inner">
        <h3 class="projects-div-inner-heading">Quadratic Function Calculator</h3>
        <p>A TypeScript web application redesigned around OOP and domain-oriented architecture, separating mathematical
          logic from UI and visualization.
        </p>
        <span class="projects-div-inner-topics"><strong>TypeScript · OOP · Architecture · Symbolic
            Computation</strong></span>
      </div>
      <div class="projects-div-inner">
        <a class="btn projects-div-inner-btn" target="_blank" href="https://github.com/amartinsmg/QuadraticFCalculator"
          role="button"><i class="fab fa-github"></i> Complete project</a>
      </div>
    </div>
</section>