<footer class="container" id="social">
  <div id="social-top">
    <div id="social-top-monogram">
      <img src="../monogram-light.svg" alt="André Martins monogram" />
    </div>
    <div id="social-top-phrase">
      <p id="social-top-phrase-latin">Per aspera ad astra</p>
      <p id="social-top-phrase-translation">
        &#8220;Through hardships to the stars&#8221;
      </p>
    </div>
  </div>
  <hr id="social-bar">
  <div id="social-bottom">
    <div id="social-bottom-name">
      <a target="_blank" href="https://github.com/amartinsmg" rel="noopener noreferrer" id="social-bottom-author">
        André Martins</a>
      <p id="social-bottom-name-title">Computer Engineering</p>
    </div>
    <nav id="social-bottom-nav" aria-label="Social media profiles">
      <ul id="social-nav-list">
        <li>
          <a href="https://github.com/amartinsmg" target="_blank" rel="noopener noreferrer" class="social-nav-inner">
            <i class="fab fa-github" aria-hidden="true"></i> GitHub
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/amartinsmg" target="_blank" rel="noopener noreferrer"
            class="social-nav-inner">
            <i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn
          </a>
        </li>
        <li>
          <a href="https://t.me/amartinsmg" target="_blank" rel="noopener noreferrer" class="social-nav-inner">
            <i class="fab fa-telegram" aria-hidden="true"></i> Telegram
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>