<section class="container" id="social">
  <div id="social-top">
    <div id="social-top-monogram">
      <img src="../monogram-light.png" alt="monogram" />
    </div>
    <div id="social-top-phrase">
      <p id="social-top-phrase-latin">Per aspera ad astra</p>
      <p id="social-top-phrase-translation">
        &#8220;Through hardships to the stars&#8221;
      </p>
    </div>
  </div>
  <div id="social-bar"></div>
  <div id="social-bottom" class="container">
    <div id="social-bottom-name">
      <a target="_blank" href="https://github.com/amartinsmg"><p>André Martins</p></a>
      <p id="social-bottom-name-title">Computer Engineering</p>
    </div>
    <div id="social-bottom-nav">
      <a target="_blank" href="https://github.com/amartinsmg" title="Github"><button class="social-nav-inner">
          <i class="fab fa-github"></i> <span> GitHub</span>
        </button></a>
      <a target="_blank" href="https://linkedin.com/in/amartinsmg" title="LikedIn"><button class="social-nav-inner">
          <i class="fab fa-linkedin"></i> <span> LinkedIn</span>
        </button></a>
      <a target="_blank" href="https://t.me/amartinsmg" title="Telegram"><button class="social-nav-inner">
          <i class="fab fa-telegram"></i> <span> Telegram</span>
        </button></a>
    </div>
  </div>
</section>