<section class="container" id="social">
  <div id="social-top">
    <div id="social-top-monogram">
      <img src="../monogram-light.png" alt="monogram" />
    </div>
    <div id="social-top-phrase">
      <p id="social-top-phrase-latin">Per aspera ad astra</p>
      <p id="social-top-phrase-translation">
        &#8220;Through hardships to the stars&#8221;
      </p>
    </div>
  </div>
  <div id="social-bar"></div>
  <div id="social-bottom">
    <p class="container-text container-text-center" id="social-text">Connect with me:</p>
    <div id="social-div">
      <div class="social-div-inner">
        <a target="_blank" href="https://github.com/amartinsmg" title="Github"><i class="fab fa-github"></i></a>
      </div>
      <div class="social-div-inner">
        <a target="_blank" href="https://linkedin.com/in/amartinsmg" title="LikedIn"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="social-div-inner">
        <a target="_blank" href="https://t.me/amartinsmg" title="Telegram"><i class="fab fa-telegram"></i></a>
      </div>
    </div>
  </div>
</section>