@use "../variables" as v;
@use "../mixins" as m;

#hero {
  min-height: v.$hero-height;
  padding: v.$hero-v-padding 5vw;
  
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../galaxy.webp") no-repeat fixed center center;
  background-size: cover;

  &-content {
    @include m.f-col;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    min-height: calc(v.$hero-height - v.$hero-v-padding * 2);
    width: 100%;
    padding: 1rem;

    background: #00000060;
    backdrop-filter: blur(4px);

    &-text {
      @include m.f-col;
      gap: 0.8rem;

      font-size: 1.1rem;

      &-heading {
        font: v.$font-4;
        font-size: 1.8rem;
        display: inline-flex;

        &-text-cursor {
          display: inline-block;
          height: 1em;
          width: 0.05em;
          margin: 0 0 -0.1em 0.1em;
          background-color: v.$primary-color;
        }
      }
    }

    &-emblem {
      height: 15rem;
      max-width: 100%;
      object-fit: scale-down;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;

      &-text {
        height: inherit;
        max-width: 32rem;

        justify-content: center;

        &-heading {
          font-size: 2.5rem;
        }
      }
    }
  }
}

.blinker-effect {
  animation: blinker 1200ms infinite;
}

@keyframes blinker {
  50% {
    background-color: #ffffee00;
  }
}