@use "../variables" as v;

#page-footer {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 2rem;

  text-align: center;
  font: v.$font-2;

  small {
    font-size: 0.75rem;
  }

  a:hover {
    color: v.$second-color;
  }
}