@use "../mixins" as m;
@use "../variables" as v;

#projects {
  @include m.f-col;
  align-items: center;

  &-grid {
    @include m.f-col;
    justify-content: center;
    align-items: center;

    .project-card {
      width: 18rem;
      max-width: 100%;

      @include m.f-col;
      justify-content: center;
      gap: 0.8rem;

      &-img {
        max-width: 100%;
      }

      &-body,
      &-footer {
        @include m.f-col;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
      }

      &-body {
        &-heading {
          @include m.heading-3;
        }

        &-topics {
          font: v.$font-3;

          list-style: none;

          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          column-gap: 10px;

          li {
            display: inline-flex;
          }

          li:not(:last-child)::after {
            content: " \22C5"; // middot
            margin-left: 10px;
          }
        }

      }

      &-footer {
        &-btn {
          background-color: v.$bg-color-2;

          &:hover {
            background-color: v.$bg-color-1;
            color: v.$second-color;
            border-color: v.$second-color;
          }
        }
      }
    }

    .projects-divider {
      @include m.separator-bar;
      width: min(12rem, 60%);
      margin: 3rem auto;
    }
  }


  @media screen and (min-width: 992px) {
    &-grid {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      place-items: center;
      gap: 3rem;
    }

    .project-card {
      height: 100%;
      @include m.f-col;
      justify-content: space-between;
    }

    .projects-divider {
      display: none;
    }
  }

  @media screen and (min-width: 1200px) {
    &-grid {
      max-width: 1200px;
      width: 100%;

      grid-template: 1fr / repeat(3, 1fr);
    }
  }
}