@use "../variables" as v;
@use "../mixins" as m;

#skills {
  @include m.f-col;
  justify-content: start;

  &-content {
    @include m.f-col;
    gap: 2.5rem;

    .skill-radio {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    &-labels {
      margin: 0 auto;

      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
      place-items: center;
      gap: 3rem;

      .skill-label {
        color: v.$neutral-color-2;
        font-size: 2.5rem;

        cursor: pointer;

        &:hover {
          color: v.$neutral-color-1;
        }
      }

      @media screen and (min-width: 768px) {
        @include m.f-row;
        justify-content: center;
      }
    }

    &-cards {
      min-height: 23rem;

      .skill-card {
        display: none;

        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        &-heading {
          @include m.heading-3;
        }

        &-code {
          font: v.$font-2;
          text-align: center;
          letter-spacing: 0.04em;
        }
      }

      @media screen and (min-width: 576px) {
        min-height: 19rem;
      }

      @media screen and (min-width: 768px) {
        min-height: 16rem;
      }

      @media screen and (min-width: 992px) {
        min-height: 15rem;
      }
    }
  }
}

@include m.showSkill("java");
@include m.showSkill("c");
@include m.showSkill("python");
@include m.showSkill("javascript");
@include m.showSkill("postgresql");
@include m.showSkill("cuda");