@use "../mixins" as m;
@use "../variables" as v;

#social {
  min-height: v.$hero-height;

  @include m.f-col;
  justify-content: center;

  text-align: center;

  &-top {
    justify-content: center;
    gap: 2rem;

    &-monogram {
      img {
        margin: 0 auto;
        width: min(15rem, 100%);
      }
    }

    &-phrase {
      @include m.f-col;
      justify-content: start;
      gap: 0.8rem;

      &-latin {
        font: v.$font-5;
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 0.2em;
      }

      &-translation {
        font: v.$font-2;
      }
    }
  }

  &-bar {
    @include m.separator-bar;
    width: min(30rem, 60%);
    margin: 3.5rem auto;
  }

  &-bottom {
    @include m.f-col;
    justify-content: start;
    align-items: center;
    gap: 4em;

    font: v.$font-3;



    a:hover {
      color: v.$second-color;
    }

    &-name {
      @include m.f-col;
      justify-content: center;
      gap: 0.5em;

      &-title {
        color: v.$neutral-color-2;
      }
    }

    &-nav {
      @include m.f-row;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;

      .social-nav-inner {
        @include m.f-row;
        align-items: center;
        gap: 0.2em;

        background-color: inherit;
        color: inherit;
        font: inherit;

        cursor: pointer;
      }

    }

  }

  @media screen and (min-width: 768px) {
    padding: 0 0 v.$header-height;

    &-bottom {
      flex-direction: row;
      justify-content: center;

      text-align: end;
    }
  }

  @media screen and (992px < width < 1400px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &-top {
      width: 25rem;
    }

    &-bar {
      width: 1px;
      height: 15rem;
      margin: auto 0;
    }

    &-bottom {
      width: fit-content;
      margin: 0;

      justify-content: start;
      gap: 2rem;

      text-align: start;

      &-nav {
        justify-content: start;
      }
    }
  }
}