@use "../variables" as v;
@use "../mixins" as m;

$hero-height: calc(100vh - v.$header-height);
$hero-padding: 5vw;

#hero {
  min-height: $hero-height;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../galaxy.jpg") no-repeat fixed center center;
  background-size: cover;
  padding: $hero-padding;

  &-content {
    @include m.f-col;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    min-height: calc($hero-height - $hero-padding * 2);
    width: 100%;
    padding: 1rem;
    background: #00000090;
    backdrop-filter: blur(4px);

    &-text {
      @include m.f-col;
      gap: 0.8rem;

      &-heading {
        font: v.$font-3;
        font-size: 1.8rem;

        &-text-cursor {
          display: inline-block;
          height: 1em;
          width: 0.05em;
          margin: 0 0 -0.1em 0.1em;
          background-color: v.$primary-color;
        }
      }
    }

    &-fig {
      height: 15rem;
      max-width: 100%;
      object-fit: scale-down;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;

      &-text {
        height: inherit;
        max-width: 32rem;
        justify-content: center;

        &-heading {
          font-size: 2.5rem;
        }
      }
    }
  }
}

.blinker-effect {
  animation: blinker 1200ms infinite;
}

@keyframes blinker {
  50% {
    background-color: #ffffee00;
  }
}