@use "../mixins" as m;
@use "../variables" as v;

#projects {
  &-grid {
    @include m.f-col;
    justify-content: center;
    align-items: center;

    .projects-card {
      width: 18rem;
      max-width: 100%;
      
      @include m.f-col;
      justify-content: center;
      gap: 0.8rem;

      &-img {
        max-width: 100%;
      }

      &-inner {
        @include m.f-col;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;

        &-heading {
          @include m.heading-3;
        }

        &-topics {
          text-align: center;
          font: v.$font-3;
        }

        &-btn {
          width: fit-content;
          background-color: v.$bg-color-2;
          
          &:hover {
            background-color: v.$bg-color-1;
            color: v.$second-color;
            border-color: v.$second-color;
          }
        }
      }
    }

    .projects-divider {
      @include m.separator-bar;
      width: min(12rem, 60%);
      margin: 3rem auto;
    }
  }


  @media screen and (min-width: 992px) {
    &-grid {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      place-items: center;
      gap: 3rem;
    }

    .projects-card {
      height: 100%;
      @include m.f-col;
      justify-content: space-between;
    }

    .projects-divider {
      display: none;
    }
  }

  @media screen and (min-width: 1200px) {
    &-grid {
      grid-template: 1fr / 1fr 1fr 1fr;
    }
  }
}