@use "../mixins" as m;
@use "../variables" as v;

#projects {
  &-text {
    padding-bottom: 1.5rem;
  }

  &-grid {
    @include m.f-col;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .projects-div {
      width: 18rem;
      max-width: 100%;

      &-img {
        max-width: 100%;
      }

      &-inner {
        @include m.f-col;
        justify-content: center;
        align-items: center;
        text-align: c;
        padding: 0.4rem 0;
        gap: 0.6rem;

        &-heading {
          @include m.heading-3;
        }

        &-topics {
          text-align: center;
          font: v.$font-3;
        }

        &-btn {
          width: fit-content;
          background-color: v.$bg-color-2;
          color: v.$primary-color;

          &:hover {
            background-color: v.$bg-color-4;
          }
        }

        &-bar {
          @include m.separator-bar;
          width: min(12rem, 60%);
          margin: 2.25rem auto;
        }
      }
    }
  }


  @media screen and (min-width: 1024px) {
    &-grid {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      gap: 1.5rem;
      place-items: center;
    }

    .projects-div {
      height: 100%;
      @include m.f-col;
      justify-content: space-between;

      &-inner-bar {
        display: none;
      }
    }
  }

  @media screen and (min-width: 1360px) {
    &-grid {
      grid-template: 1fr / 1fr 1fr 1fr;
    }
  }
}