@use "../mixins" as m;
@use "../variables" as v;

#projects {
  &-text {
    padding-bottom: 1.5rem;
  }
  &-grid {
    @include m.f-col;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .projects-div {
      width: 18rem;
      max-width: 100%;
      &-img {
        max-width: 100%;
      }
      &-inner {
        @include m.f-col;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.2rem 0;
        gap: 0.8rem;
        &-heading {
          color: v.$secondary-color;
        }
        &-btn {
          width: fit-content;
          background-color: v.$bg-color-1;
          color: v.$primary-color;
          &:hover {
            background-color: v.$bg-color-3;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    &-grid {
      display: grid;
      gap: 1.5rem;
      grid-template: 1fr 1fr / 1fr 1fr;
    }
  }
  @media screen and (min-width: 1360px) {
    &-grid {
      grid-template: 1fr / 1fr 1fr 1fr;
    }
  }
}
