@use "../variables" as v;
@use "../mixins" as m;

.skills {
  @include m.f-col;
  justify-content: center;
  min-height: v.$greeting-height;
  padding: 5%;
  gap: 5vh;
  &-heading {
    color: v.$secondary-color;
    font: v.$font-3;
    font-size: 1.4rem;
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
  &-content {
    &-radio {
      display: none;
    }
    &-labels {
      @include m.f-row;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 0;
      &-label {
        color: v.$neutral-color-2;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: v.$neutral-color-1;
        }
      }
    }
    &-text {
      &-box {
        height: 100%;
        max-width: v.$text-max-width;
        margin: auto;
        padding: 2%;
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;
        &-heading {
          color: v.$secondary-color;
        }
        &-code {
          margin: 0.5rem auto auto;
          font: v.$font-2;
        }
      }
    }
  }
  @media screen and (min-width: 412px) {
    min-height: 30rem;
  }
  @media screen and (min-width: 576px) {
    min-height: 24rem;
    gap: 2rem;
  }
  @media screen and (min-width: 810px) {
    min-height: 0;
  }
}

@include m.showSkill("java");
@include m.showSkill("c");
@include m.showSkill("python");
@include m.showSkill("javascript");
@include m.showSkill("postgresql");
@include m.showSkill("cuda");
